*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.brand h1{
	font-size: 3rem;
	text-transform: uppercase;
	color: black;
}

.brand h1 span{
	color: crimson;
}
/*Hero Section*/
#hero{
	background-color: purple;
	background-size: 700px;
	background-position:  center;
	position: relative;
	background-repeat: no-repeat;
	z-index: 1;

}
#hero::after{
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1; 
}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1ss;
}
#hero h1:nth-child(1){
	animation-delay: 1s;
}
#hero h1:nth-child(2){
	animation-delay: 2s;
}
#hero h1:nth-child(3){
	animation-delay: 3s;
}

/* End Hero Section */

/*Product Section*/
#products{

}

#products .products {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin:0 autp;
	padding:100px 0;
}

#products .products-title{
	font-size:4rem;
	font-weight:300;
	color:black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing:.2rem;
	text-align:center;
}

#products .products-title span{
	color: crimson;
}

#products .products-top p{
	font-size:1.4rem;
	margin-top:5px;
	line-height:2.5rem;
	font-weight:300;
	letter-spacing:.05rem;
}
/*#products .products-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#products .products-item{
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;

}*/
/*End of Products Section*/
 /* About Section*/
 #about .section-title{
	font-size:4rem;
	font-weight:300;
	color:black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing:.2rem;
	text-align:center;
}

#about .section-title span{
	color: crimson;
}
/*
 #about .about{
 	flex-direction: column-reverse;
 	text-align: center;
 	max-width: 0 auto;
 	padding: 100px 20px;
 }

 #about .col-left{
 	width: 250px;
 	height: 250px;
 }

 #about .col-right{
 	width: 100%;
 }
*/
 #about .col-right h2{
 	font-size: 1.8rem;
 	font-weight: 500;
 	letter-spacing: .2rem;
 	margin-bottom: 10px;
 }

 #about .col-right p{
 	margin-bottom: 20px;
 	font-family: Comic Sans Ms;
 	margin-left: 10px;
 }

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;

}

 /*#about .col-left .about-img:: after{
 	content: ' ';
 	position: absolute;
 	left:-33px;
 	top:19px;
 	height: 98%;
 	width: 98%;
 	border: 7px solid crimson;
 	z-index: -1;
 }*/
 /* End About Section */

 /*Contact Section */

#contact .section-title{
	font-size:4rem;
	font-weight:300;
	color:black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing:.2rem;
	text-align:center;
}

#contact .section-title span{
	color: crimson;
}


 #contact .contact {
 	flex-direction: column;
 	max-width: 1200px;
 	margin: 0 auto;
 }

#contact .contact-items{
	width: 400px;
}

#contact .contact-item{
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow
}

#contact .contact-item:hover{
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1{
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2{
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;




 /* End Contact Section*/ 

 /*footer*/
 

 


 /* End Footer*/




/* Keyframes*/
@keyframes text_reveal_box{
	50%{
		width: 100%;
		left:0;
	}
	100%{
		width: 0;
		left: 100%;

	}
}
@keyframes text_reveal{
	100%{
		color: white;
	}
}